<aside class="task-navbar__container">
  <figure class="task-navbar__container-logo">
    <img
      class="task-navbar__container-logo-img"
      src="https://burbanostudio-assets.s3.us-east-2.amazonaws.com/projects/TaskManager/logo-task.svg"
      alt="logo"
      loading="lazy"
    />
  </figure>
  <a
    class="task-navbar__container-menu"
    *ngFor="let item of navbarService.navbarItems"
    [title]="item.title"
    [routerLink]="[item.link]"
  >
    <img
      [src]="
        'https://burbanostudio-assets.s3.us-east-2.amazonaws.com/projects/TaskManager/' +
        item.icon +
        '.svg'
      "
      alt="icon_filter_square_"
      loading="lazy"
    />
  </a>
</aside>
