<section class="task-template__container">
  <main class="task-template__container-tool">
    <aside class="task-template__container-tool-form bg-gray-100 {{ leftSize }} transition-transform transition-duration-300 transition-ease-in" [class.hide]="isClose">
      <h1
        class="font-bold text-white text-7xl absolute top-0 left-0 uppercase jb-custom-f-sh jb-custom-input-transparent w-full text-center"
      >
        {{ title || '[Title]' }}
      </h1>
      <ng-content select="[leftContent]"></ng-content>
    </aside>
    <aside class="flex flex-1 h-full overflow-auto">
      <ng-content select="[rightContent]"></ng-content>
    </aside>
    <p-button icon="pi pi-{{isClose ? 'check' : 'times'}}" (click)="toggleClose()" styleClass="p-button-rounded p-button-info fixed" class="task-template__container-tool-toggle" [style]="{bottom: '75px', right: '5px', zIndex: 300}"></p-button>
  </main>
</section>
